# Jupyter / Tools
jupyter
jupyterlab
tqdm

# TensorFlow
tensorflow          # when you use Apple-Silicon (M1 ...), comment this line
# tensorflow-metal  # only Apple-Silicon (M1 ...)          and uncomment this line 
tensorflow_datasets
keras
keras-nlp

# PyTorch
torch
torchtune
torchvision
torchao
torchtext

# LLM
transformers
sentence-transformers
huggingface-hub
adapters
datasets
peft
evaluate
trl
tokenizers
sentencepiece

# General
numpy
pandas
matplotlib

scikit-learn
